
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Termina";
  src: url("../public/fonts/Termina.ttf");
 
}

@font-face {
  font-family: "Lobster";
  src: url("../public/fonts/Lobster.woff2");
 
}

@font-face {
  font-family: "Rosewood";
  src: url("../public/fonts/Rosewood_Regular.ttf");
 
}

@font-face {
  font-family: "PressStart";
  src: url("../public/fonts/PressStart2P_Regular.ttf");
 
}

.container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

:root{
  --font-family: 'PressStart';
  --clr-light: #f7ede2;
  --clr-lightt: #f0e9e9;
  --clr-purple: #9b5de5;
  --clr-pink: #f15bb5;
  --clr-yellow: #fee440;
  --clr-blue: #00bbf9;
  --clr-green: #00f5d4;
  --clr-selection-bg: #cb3d92;
  --clr-selection-text: #f4f0f0;
  --clr-background: #06070a;
}

html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "PressStart";
  font-size: 20px;
  /* background: var(--clr-background); */
  color: var(--clr-selection-text);
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2 {
  font-family: "Lobster";
}

.about {
  font-family: "PressStart";
}

.connect {
  font-family: "PressStart";
}

.accordion {background: none;color: #fff;cursor: pointer;padding:10px;width: 100%;border: solid 2px #21C1CF;text-align: left;outline: none;font-size: 20px;line-height:30px;transition: 0.4s;font-weight:100;border-radius:10px;margin-top:20px;font-weight:500;}
.active, .accordion:hover { background-color:transparent;}
.panel {padding: 0 18px; background:none; max-height: 0;overflow: hidden; transition: max-height 0.2s ease-out;font-size: 18px;line-height:30px;}


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.bg-pattern {
  background-color: #0B082C;
  background-image: url('/images/1876.jpg'); 
  background-attachment: fixed;
  background-size: cover;
}

.small-bg {
  background-color: #0B082C;
  background-image: url('/images/1876.jpg'); 
  background-size: 1960px 960px;
  background-position: left 50% top 0%;
  -webkit-transform: translateZ(0); 
}

.bg-header {
  background-color: #210234;
}

.bg-footer {
  background-color: #070524;
}

.titanium {
  background: rgb(219,219,217);
background: linear-gradient(90deg, rgba(219,219,217,1) 0%, rgba(135,134,129,1) 35%, rgba(0,0,0,1) 100%);

}

.skewed{
  position: absolute;
  bottom: 0;
  left: 0;
  /* border: top right bottom left */
  border-width: 100px 1500px 0 1500px;
  /* transform: skewY(7deg); */
  /* transform : skewY(-6deg); */
  /* height: 96px; */
  border-color: transparent #06070a;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
